{%extends 'user_admin_base.html'%}
{% load staticfiles %}
{%block scripts%}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/exporting.js' %}"></script>
<script src="{% static 'js/highcharts-zh_CN.js' %}"></script>
{%endblock%}
{%block body1%}
	<div class="panel panel-default" style="margin-bottom:0">  
    <div class="panel-heading">
        <h3 class="panel-title">
            新建{{group.name}}维修记录
        </h3>
    </div>
		<div class="panel-body">
			<form action="{%url 'new_note' user.id%}?group={{group.id}}" method="post">
				{%csrf_token%}
				{{form.as_p}}
				<button name="submit">保存</button> 
			</form>
		</div>
</div>
{%endblock%}
