{%extends 'user_admin_base.html'%}
{% load staticfiles %}
{%block body1%}
	<form action="{%url 'report_bz' user.id%}" method="post">
	{%csrf_token%}
	<div class="container-fluid" style="margin-bottom: 8px">
  		<div class="row">
  			<div class="col-xs-7 col-sm-2 col-sm-offset-9">
  				<select name="report_time_id" class="form-control" id="report_time">
   					<option value="" selected>新报账时间</option>
   					{%for report_time in report_times%}
   					{%if forloop.first%}
   					<option value="{{report_time.id}}" selected>{{report_time}}</option>
   					{%else%}
   					<option value="{{report_time.id}}" >{{report_time}}</option>
   					{%endif%}
   					{%endfor%}
   				</select>
  			</div>
  			<div class="col-xs-5 col-sm-1">
  				<div class="btn-group">
  					<a href="{%url 'new_report_time' user.id%}?group={{group.id}}" class="btn btn-default">新建</a>
   					<a href="edit_report_time" id="edit_report_time" onclick="modify_url()" class="btn btn-default">修改</a>
  				</div>	
  			</div>
  		</div>
   </div>
   	<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <th>选择</th><th>序号</th><th>日期</th><th>类别</th><th>型号</th><th>故障描述</th><th>单价（元）</th><th>数量（台）</th><th>备注（教室编号）</th><th>处理方式</th><th>售后单位</th><th>合计（元）</th><th>是否报账</th><th>记录人</th><th>操作</th>
        {% for content in notes %}
	<tr><td><input type="checkbox" checked name='note' value="{{content.id}}"></td><td>{{forloop.counter}}</td><td>{{content.date|date:"Y-m-d"}}</td><td>{{content.类别}}</td><td>{{content.型号}}</td><td>{{content.故障描述}}</td><td>{{content.价格}}</td><td>{{content.数量}}</td><td>{{content.教室}}</td><td>{{content.方式}}</td><td>{{content.售后}}</td><td>{{content.合计}}</td><td>否</td><td>{{content.owner}}</td><td><button class="btn btn-link" type="button" onClick="show_detail({{content.id}})">详情</button></td></tr>
		<tr class={{content.id}} hidden><th>状态</th><th>通知时间</th><th>到校时间</th><th>返校时间</th><th>响应时间</th><th>修复时间</th></tr>
	<tr class={{content.id}} hidden><td>{{content.状态}}</td><td>{{content.通知时间}}</td><td>{{content.到校时间}}</td><td>{{content.返校时间}}</td><td>{{content.响应时间}}</td><td>{{content.修复时间}}</td></tr>
	{% endfor %}
    </table>
    </div>
    <div class="btn-group pull-right" style="margin-right: 10px">
    <button class="btn btn-default" formaction="{%url 'print_page' user.id%}">打印页面</button><button class="btn btn-default" formaction={%url 'download'%}>下载excel</button><button class="btn btn-default" onclick="return report_waring()">报账</button>
    </div>
    </form>
    <script>
		var show_detail=function(content_id){
			var elem = document.getElementsByClassName(content_id);
			for (var i=0;i < elem.length ;i++){
				if (elem[i].hasAttribute("hidden")){
					elem[i].removeAttribute("hidden")
				}else{
					elem[i].setAttribute("hidden","hidden");
				}
			}}
		var report_waring=function(){
			var info = confirm("确认报账吗？");
			var elem = document.getElementById("report_time");
			if(elem.value){
				return info;
			}else{
				alert('没有选择报账时间');
				return false;
			}	
			}
		var modify_url=function(){
			var elem = document.getElementById("report_time");
			var url = '/edit_report_time/' + elem.value;
			var a = document.getElementById("edit_report_time");
			a.setAttribute("href",url);
			}
	
	</script>	
{%endblock%}