{%extends 'user_admin_base.html'%}
{% load staticfiles %}
{%block body1%}
	
		<div class="container">
<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
	<div class="panel panel-default">
    <div class="panel-heading">
    	<h4>
    		售后单位
    	</h4>
    </div>
    <ul class="list-group">
       {%for customer in customers%}
        <li class="list-group-item">
        	<a href="{%url 'report' user.id%}?group={{group.id}}&customer={{customer.id}}">{{customer}}</a>
		</li>
       {%endfor%}
    </ul>
	</div>
	</div>
</div>
</div>
	
{%endblock%}
